.header__nav {
    display: flex;
    align-items: center;
    padding-left: 278px;
    width: 100%;
    min-height: 82px;
}

.header__logo {
    margin-right: 211px;
}

.header__p {
    color: rgb(85, 85, 85);
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}

.header__title {
    display: flex;
    align-items: center;
    margin-right: 238px;
}

.title__text {
    color: rgb(85, 85, 85);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
}

.header__cont {
    width: 165px;
    height: 54px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__email {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.header__phone {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding-left: 36px;
}

/* Стили Банннера */

.banner {
    width: 100%;
    min-height: 594px;
    background-image: url('./img/home-bg.svg');
    background-size: cover;
    background-position: center;
    padding-left: 278px;
    padding-top: 120px;
}

.banner__text {
    max-width: 658px;
    max-height: 315px;
}

.banner__title {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    margin-bottom: 40px;
}

.banner__list {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
    margin-bottom: 40px;
}

.banner__us {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
    max-width: 459px;
    max-height: 45px;
}

@media (max-width: 360px) {
    .header__nav {
        padding-left: 0;
        min-height: 46px;
    }
    .header__logo {
        margin-right: 10px;
    }
    .header__p {
        color: rgb(85, 85, 85);
        font-family: 'Open Sans', sans-serif;
        font-size: 18.57px;
        font-weight: 600;
        line-height: 130%;
        margin: 0;
    }

    .header__title {
        margin-right: 17px;
    }

    .title__text {
        color: rgb(85, 85, 85);
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 130%;
        max-width: 157px;
        min-height: 26px;
    }
    .header__cont {
        width: 103px;
        height: 26px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 10px;
    }
    .header__email {
        color: rgb(0, 0, 0);
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
    }
    .header__phone {
        color: rgb(0, 0, 0);
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
        padding-left: 22px;
    }

    /* Стили баннера */
    .banner {
        min-height: 330px;
        background-image: url('./img/home-mb.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 12px;
        padding-top: 80px;
        padding-right: 19px;
        padding-bottom: 80px;
    }

    .banner__text {
        min-width: 330px;
        max-height: 170px;
    }

    .banner__title {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 15px;
    }
    
    .banner__list{
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .banner__us {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 130%;
        max-width: 287px;
        max-height: 29px;
    }
}
